.d-flex {
  display: flex;
}
.error {
  color: red;
}
.red {
  background-color: red;
}
.blue {
  background-color: rgb(56, 174, 221);
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.App {
  text-align: center;
  width: 100vw;
}

.App-header {
  background-color: white;
  min-height: 70px;
  line-height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 45px;
}
.my_logo {
  width: 45px;
  height: 45px;
  display: flex;
  margin: auto 0;
}
.logo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* mail */
.main {
  background: linear-gradient(to left, #e66465, #9198e5);
  height: 100vh;
  padding-top: 122px;
}
.form {
  margin: 0 auto;
  text-align: center;
  width: 453px;
  min-height: 451px;
  background: white;
  border-radius: 16px;
  padding: 16px 20px;
  position: relative;
}
.form-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.action {
  margin-top: 30px;
  height: 60px;
  background: #00a3ff;
  display: flex;
  border-radius: 5px;
}
.form-input {
  width: 100%;
  height: 54px;
  margin: auto 2px;
  border: none;
  border-radius: 5px;
}
.form-button {
  background-color: transparent;
  border: none;
  color: white;
  width: 56px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}

.list-todo {
  margin-top: 22px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}
.item-todo {
  height: 54px;
  line-height: 54px;
  margin: 10px 0;
  padding: 0 14px;
  border: none;
  border-radius: 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.item-update {
  z-index: 10;
}
.content {
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.icon {
  width: 18px;
  height: 18px;
  color: white;
}
.icon-update {
  margin-right: 8px;
}
.form-input--update {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  outline-offset: unset;
}
.mask {
}
.mask::before {
  content: " ";
  width: 100px;
  height: 200px;
  /* background: rgba(96, 96, 96, 0.76); */
  background-color: rgba(0, 0, 0, 0.6);
  cursor: unset;
  z-index: 2;
}

.btn-update {
  height: 32px;
  line-height: 33px;
  background: white;
  display: flex;
  margin: auto;
  color: #28acf7;
  font-weight: 500;
  font-size: 14px;
  border-radius: 6px;
  padding: 0 8px;
}
